<!DOCTYPE html>
<html>
<title>Welcome to Roc.sa</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<body>

  <!-- Header -->
  <header class="w3-container w3-theme w3-padding" id="myHeader">
    <i onclick="w3_open()" class="w3-xlarge w3-button w3-theme"></i> 
    <div class="w3-center">
      <h1 class="w3-xxxlarge w3-animate-bottom">Welcome to Job Search</h1>
      <h2>by ROCA.sa</h2>
    </div>
  </header>

<!-- buttons -->
  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:350px">
        <h3>Profile</h3><br>
        <i class="fa fa-group w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <a id ="btn1" href="">
          <p><input  type="button" value="Profile" class = "w3-button w3-blue w3-round-xxlarge"></p>
        </a>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:350px">
        <h3>Search</h3><br>
        <i class="fa fa-search w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <a id ="btn2" href="">
          <p><input  type="button" value="Search" class = "w3-button w3-blue w3-round-xxlarge"></p>
        </a>
      </div>
    </div>
    <div class="w3-third">
     {% if employee %}
     {% if employee.is_employer == "True" %} 
     <div class="w3-card w3-container" style="min-height:350px">
      <h3>Reports</h3><br>
      <i class="fa fa-folder-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
      <a id ="btn3" href="">
        <p><input  type="button" value="Report" class = "w3-button w3-blue w3-round-xxlarge"></p>
      </a>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>


<script>
 document.getElementById("btn1").href = "/profile/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 document.getElementById("btn2").href = "/search/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 document.getElementById("btn3").href = "/report/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
</script>

<style></style>