<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bbootstrap.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</html>

<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h1><b>Welcome to Job Search!</b></h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      <div class="card">
        <div class="row">
          <div class="col text-center">
            <h2 ><b>Profile</b></h2>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <button class = "btn btn-outline-info" onclick="location.href='/profile/{{applicant.id}}'">
              Profile
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card ">
        <div class="row">
          <div class="col text-center">
            <h2><b>Search</b></h2>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <button class = "btn btn-outline-info" onclick="location.href='/search/{{applicant.id}}'">
              Search
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="row">
          <div class="col text-center">
            <h2><b>Reports</b></h2>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <button class = "btn btn-outline-info" onclick="location.href='/report/{{applicant.id}}'">
              Reports
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>


h1{   text-align: center;
    width: 20em
   margin-left: auto;
    margin-right: auto }
</style>
