<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bbootstrap.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
  </style>
</head>

<body>
 <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a id ="nav1"  class="nav-link" href="">Home </a>
      </li>
      <li class="nav-item">
        <a id ="nav2" class="nav-link" href="">Profile</a>
      </li>
      <li class="nav-item">
        <a id="nav3" class="nav-link" href="">Search</a>
      </li>
      <li class="nav-item">
        <a id="nav4" class="nav-link" href="">Reports</a>
      </li>
      <li class = "nav-item">
        <a id = "nav5" class = "nav-link" href="">Post Job</a>
      </li>
    </li>
  </ul>
  <h1> Stakeholder Report </h1>
  <li>
    <a id="nav4" class="nav-link" href="/">Logout</a>
  </li>
</div>
</nav>
<div class="w3-responsive w3-card-4">

  <h2><strong>Current Employee Application List</strong></h2>

  <table style="width:70%" align="center"class = "table table-hover" class="w3-table w3-striped w3-bordered">
    <caption>Percentage of Applicants Hired: {{percent}}%</caption>
    <thead>
      <tr class="w3-theme">
        <th scope = 'col'>First Name</th>
        <th scope = 'col'>Last Name</th>
        <th scope = 'col'>Job Title</th>
        <th scope = 'col'>Application Status</th>
      </tr>
    </thead>
    <tbody>
        {% if applicant_loop %}
        <ul>
          {% for a in applicant_loop %}
          <tr>
            <td>{{a.applicant_name}}</td>
            <td>{{a.applicant_last_name}}</td>
            <td>{{a.applicant_job}}</td>
            <td>{{a.application_status}}</td>
          </tr>
          {% endfor %}
        </ul>
        {% else %}
            <p>No applicants.</p>
        {% endif %}
    </tbody>
  </table>
  <p></p>
  <h2><strong>Companies with Greatest Number of Applicants</strong></h2>
  <table style="width:70%" align="center"class = "table table-hover" class="w3-table w3-striped w3-bordered">

    <caption>Job Field with the Greatest Number of Applicants: {{job_most.applicant_job}}</caption>
   <thead>
    <tr class="w3-theme">
      <td>Company Name</td>
      <td>Number of Applicants</td>
    </tr>
   </thead>
    <tbody>
      {% if company_all %}
      <ul>
        {% for c in company_all %}
          <tr>
            <td>{{c.company_name}}</td>
            <td>{{c.ccount}}</td>
          </tr>
          {% endfor %}
        </ul>
        {% else %}
            <p>No applicants</p>
        {% endif %}
      </ul>
    </tbody>

  </table>

</div>
<script>
 document.getElementById("nav1").href = "/home/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav2").href = "/profile/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav3").href = "/search/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav4").href = "/report/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav5").href = "/post/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();

</script>






<style>

  h1{ 
    text-align: center;
    width: 20em
    margin-left: auto;
    margin-right: auto; 
    padding-left: 350px;
    color: white;
  }
  table{
    text-align: center;
    width: 20em
    margin-left: auto;
    margin-right: auto; 
  }
  h2{
   padding-top: 50px;
   text-align: center;
   margin-left: auto;
   margin-right: auto; 
   font-size: 1em;
   width: 30%;                                
 }

</style>