<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bbootstrap.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
  </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a id ="nav1"  class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a id ="nav2" class="nav-link" href="">Profile</a>
        </li>
        <li class="nav-item">
          <a id="nav3" class="nav-link" href="">Search</a>
        </li>
        <li class="nav-item">
          <a id="nav4" class="nav-link" href="">Reports</a>
        </li>
      </ul>
    </div>
  </nav>

<script>
 document.getElementById("nav1").href = "/home/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav2").href = "/profile/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav3").href = "/search/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav4").href = "/report/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 

</script>

<h1> Stakeholder Report </h1>

<h2> Current Employee Application List </h2>
<table style="width:70%" align="center"class = "table table-hover">

  <tr>
    <th>Applicant ID</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Applicant Resume</th>
    <th>Status of Application</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Timothy</td>
    <td>Steudlein</td>
    <td>Applicant Resume 1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Chase</td>
    <td>Comardelle</td>
    <td>Applicant Resume 2</td>
    <td>1</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Abbie</td>
    <td>Crabtree</td>
    <td>Applicant Resume 3</td>
    <td>1</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Roger</td>
    <td>Zeringue</td>
    <td>Applicant Resume 4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Seth</td>
    <td>Pottle</td>
    <td>Applicant Resume 5</td>
    <td>2</td>
  </tr>
</table>



<p></p>
<h2>Companies with Greatest Number of Applicants</h2>
<table style="width:70%" align ="center">

  <caption>Job Field with the Greatest Number of Applicants: Software Developer</caption>

  <tr>
    <td id="cID">Company ID</td>
    <td id="cNAme">Company Name</td>
    <td id="numApplicants">Number of Applicants</td>
  </tr>
  <tr>
    <td>34123</td>
    <td>IBM</td>
    <td>253</td>
  </tr>
  <tr>
    <td>15739</td>
    <td>Microsft</td>
    <td>177</td>
  </tr>
  <tr>
    <td>19482</td>
    <td>Google</td>
    <td>124</td>
  </tr>
  <tr>
    <td>03756</td>
    <td>Amazon</td>
    <td>93</td>
  </tr>
  <tr>
    <td>29401</td>
    <td>Apple</td>
    <td>56</td>
  </tr>

</table>



<style>

  h1{ 
    text-align: center;
    width: 20em
    margin-left: auto;
    margin-right: auto; 
  }
  table{
    text-align: center;
    width: 20em
    margin-left: auto;
    margin-right: auto; 
  }
  h2{

   padding: 5px;
  
   text-align: center;
   margin-left: auto;
   margin-right: auto; 
   font-size: 1em;
   width: 30%;                                
 }

</style>