<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bbootstrap.min.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style> 
	h1 {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		color: #4292e3;
	}
	button {
		color: #4292e3;
	}
</style>
</html>
<!-- navbar -->
 <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       <li class="nav-item ">
        <a id ="nav1"  class="nav-link" href="">Home </a>
      </li>
      <li class="nav-item">
        <a id ="nav2" class="nav-link" href="">Profile</a>
      </li>
      <li class="nav-item">
        <a id="nav3" class="nav-link" href="">Search</a>
	  </li>
      	{% if employee %}
            {% if employee.is_employer == "True" %}
                <li class="nav-item">
                    <a id="nav4" class="nav-link" href="">Reports</a>
				</li>
				<li class = "nav-item">
					<a id = "nav5" class = "nav-link" href="">Post Job</a>
				</li>
            {% endif %}
		{% endif %}
		
  </ul>
  <h1></h1>
  <li>
    <a  href="/">Logout</a>
  </li>
</div>
</nav>

<script>
 document.getElementById("nav1").href = "/home/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav2").href = "/profile/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav3").href = "/search/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav4").href = "/report/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
 
 document.getElementById("nav5").href = "/post/" + (((((({{applicant.id}}) * 59) + 36 ) * 120 ) - 14) * 298).toString();
</script>
<div class="container">
	{% if applicant.applicant_resume == "" %}
		<div class = "row">
			<div class = "col">
				<h4>You must upload a resume before you are able to start the job search and application process.</h4>
			</div>
		</div>
	{% else %}
	<div class="row mt-3">
		<div class="col-6">
			<div class="card">
				<div class="row mt-3 ml-2">
					<div class="col">
						<h1><b>Search Jobs</b></h1>
					</div>
				</div>
				<div class="row m-3">
					<div class="col">
						<form method="post">
							{% csrf_token %}
							{{form1.as_p}}
							<a id="btn2" href="">
								<input type="submit"  value="Search" name="searchjobform"/>
							</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class = "row mt-3 ml-2">
					<div class="col">
						<h1><b>Apply to a Job</b></h1>
					</div>
				</div>
				<div class ="row m-3">
					<div class="col">
						<form method ="post">
							{% csrf_token %}
							{{form3.as_p}}
							<a id ="btn2" href="">
								<input type ="submit" value="Apply" name="applyform"/>
							</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if job_results %}
	<div class = "row mt-3">
		<div class="col-12">
			<div class = "card">
				<div class="row">
					<div class="col">
						<h1><b>Results</b></h1>
					</div>
				</div>
				<table class = "table table-bordered table-hover">
					<thead>
						<tr>
							<th scope ="col">Job ID</th>
							<th scope = "col">Job Title</th>
							<th scope="col">Company</th>
							<th scope="col">Qualifications</th>
							<th scope="col">Date Posted</th>
						</tr>
					</thead>
					<tbod>
						{% for job in job_results %}
						<tr>
							<td>{{job.id}}</td>
							<td>{{job.job_title}}</td>
							<td>{{job.job_company}}</td>
							<td>{{job.job_qualifications}}</td>
							<td>{{job.job_date}}</td>
						</tr>
						{% endfor %}
					</tbod>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
		<div class="row mt-3 mb-3">
		<div class="col-12">
			<div class="card">
				<div class="row mt-3 ml-2">
					<div class="col">
						<h1>Browse Job Openings</h1>
					</div>
				</div>
				<div class="row ml-2 mr-2  mb-3">
					<div class="col">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th scope ="col">Job ID</th>
									<th scope="col">Job Title</th>
									<th scope="col">Company</th>
									<th scope="col">Qualifications</th>
									<th scope="col">Date Posted</th>
								</tr>
							</thead>
							<tbody>
								{% for job in job_list %}
									<tr>
										<td>{{job.id}}</td>
										<td>{{job.job_title}}</td>
										<td>{{job.job_company}}</td>
										<td>{{job.job_qualifications}}</td>
										<td>{{job.job_date}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
		{% if employee %}
			{% if employee.is_employer == "True" %}
				<div class="row mt-3 mb-3">
					<div class="col-6">
						<div class="card">
							<div class="row mt-3 ml-2">
								<div class="col">
									<h1><b>Search Applicants</b></h1>
								</div>
							</div>
							<div class="row m-2">
								<div class="col">
									<form method="post">
										{% csrf_token %}
										{{form2.as_p}}
										<a id="btn2" href="">
											<input type="submit"  value="Search" name="searchapplicantform"/>
										</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if applicant_results %}
					{% if applicant_results_priority %}
					<div class = "row mt-3 mb-3">
						<div class="col-12">
							<div class = "card">
								<div class="row">
									<div class="col">
										<h1><b>Results</b></h1>
									</div>
								</div>
								<table class = "table table-bordered table-hover">
									<thead>
										<tr>
											<th scope ="col">First Name</th>
											<th scope = "col">Last Name</th>
											<th scope="col">Resume</th>
										
											<th scope="col">Is this Applicant a Priority?</th>
										</tr>
									</thead>
									<tbody>
									{% for applicant in applicant_results_priority %}
										<tr>
											<td>{{applicant.applicant_name}}</td>
											<td>{{applicant.applicant_last_name}}</td>
											<td>{{applicant.applicant_resume}}</td>
											<td>Yes</td>
										</tr>
									{% endfor %}
									{%for applicant in applicant_results %}
									<tr>
										<td>{{applicant.applicant_name}}</td>
										<td>{{applicant.applicant_last_name}}</td>
										<td>{{applicant.applicant_resume}}</td>
										<td>No</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				{% else %}
				<div class = "row mt-3">
					<div class="col-12">
						<div class = "card">
							<table class = "table table-bordered table-hover">
								<thead>
									<tr>
										<th scope ="col">First Name</th>
										<th scope = "col">Last Name</th>
										<th scope="col">Resume</th>
										<th scope ="col">Job ID Applied</th>
										<th scope="col">Is this Applicant a Priority?</th>
									</tr>
								</thead>
								<tbody>
								{% for applicant in applicant_results_priority %}
									<tr>
										<td>{{applicant.applicant_name}}</td>
										<td>{{applicant.applicant_last_name}}</td>
										<td>{{applicant.applicant_resume}}</td>
										<td>{{applicant.applicant_job}}</td>
										<td>No</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% endif %}
			{% endif %}
			{% endif %}
		{% endif %}
</div>
<style>
    /* input format for login*/
    input[type=text], 
    input[type=password],
    input[type=email],
	input[type=number] { 
      width: 100%; 
      padding: 12px 20px; 
      margin: 8px 0; 
      display: inline-block; 
      border: 1px solid #ccc; 
      box-sizing: border-box; 
    } 
    /*btn style*/ 
    input[type=submit] { 
      background-color: #4292e3; 
      color: white; 
      padding: 12px 20px; 
      margin: 8px 0; 
      border: none; 
      cursor: pointer; 
      width: 100%; 
    } 
	a{color: black;}
  
    </style>